

@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url('fontes/Roboto/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header {
    background-image: linear-gradient(to bottom, rgb(79, 163, 79), rgb(2, 44, 2));
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-size: x-large;
    padding: 30px 30px 15px 30px;
    margin: -8px;   
}
header > p {
    padding-bottom: 30px;
}
nav {
    text-align: left;
}
nav > a {
    padding-right: 25px;
    text-decoration: none;
    color: rgb(169, 211, 169);
}
footer {
    text-align: center;
}