

@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url('fontes/Roboto/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header {
    margin: 1000px;
    background-image: linear-gradient(to bottom, rgb(79, 163, 79), rgb(2, 44, 2));
    color: white;
    text-align: center;
    font-family: 'Roboto';
    margin: 0px;
    padding: 30px;
}
header > h1 > {
}